@use "~easy-theme" as theme;

$padding: 1rem;
$radius: .5rem;
$transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);

.ModalWrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 25;
    pointer-events: none;
}

.ModalWrapperShow {
    .Shade {
        opacity: 1;
        pointer-events: all;
    }

    .Modal {
        transform: translateY(0%);
        pointer-events: all;

        @include theme.NotMobile {
            transform: translateX(-50%) translateY(0%);
        }
    }
}

.Shade {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: theme.Color('background', .75);
    transition: $transition;
    pointer-events: none;

    @include theme.Mobile {
        background: theme.Color('background', .5);
        backdrop-filter: blur(.1rem);
    }

    opacity: 0;
}

.Modal {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: theme.Color('background');
    border-radius: $radius $radius 0 0;
    transition: $transition;

    transform: translateY(100%);

    @include theme.NotMobile {
        transition: .5s cubic-bezier(0.4, 0.0, 0.2, 1);
        left: 50%;
        bottom: 50%;
        width: 75%;
        max-width: 35rem;
        border-radius: $radius;

        transform: translateX(-50%) translateY(100vh);
    }
}

.ModalHeader {
    padding: $padding;
    display: flex;
    align-items: center;
    background-color: theme.Color('accent');
    color: theme.Text('accent');
    border-radius: $radius $radius 0 0;

    h4 {
        margin: 0;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: .025rem;
        // text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.ModalBody {
    padding: $padding;
    background-color: theme.Color('accent', .1);
    color: theme.Text('background');

    @include theme.NotMobile {
        border-radius: 0 0 $radius $radius;
    }
}