@use "~easy-theme" as theme;

$light-theme: (
  'background': (#f3f2e9, #1c1c1a),
  'accent': (#2df196, #111111, true),
);

$dark-theme: (
  'background': (#1c1d1c, #ffffff),
);

@include theme.UseTheme((light: $light-theme, dark: $dark-theme));

html,
body {
  background: theme.Color('background');
  color: theme.Text('background');
}